@import "inc/bootstrap";

table.revision {

  width: 100%;
  border: 6px solid whiten($uiClickableDefaultBg, .5);
  margin-bottom: 10px;
  td, th {
    font-weight: normal;
    padding: 3px 5px;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
  }
  th {
    text-align: left;
    vertical-align: middle;
    background: whiten($uiClickableDefaultBg, .5);
  }
  td {
    background: transparent;
    text-align: left;
    padding: 2px;
    &>div{
      margin-left: 10px;
      margin-top: 5px;
    }
    &.button {
      text-align: right;
    }
    &>.secondary{
      font-size: 80%;
      margin-top: 0px;
    }
    .first{
        float: left;
        margin-right: 20%;
    }
  }
  tr {
    &:nth-child(even){background: lighten($darkBlueGrey,5);}
    &:nth-child(odd){background: lighten($lightBlueGrey,5)}
  }
}

.commit{
  input{
    margin-left: 5%;
    max-width: none;
    width: 75%;
  }
}